# SECURITY
ALLOWED_HOSTS=""
FRONTEND_DOMAIN=""
FRONTEND_URL=""
FRONTEND_ORIGINS="", ""

# NGROK
USE_REVERSE_PROXY=False
BASE_REVERSE_PROXY_URL=""

# DJANGO
SECURITY_KEY=""

# EMAILS
ADMINS="firstname lastname:email.example.com,"
EMAIL_SENDING_STRATEGY=local
EMAIL_HOST=""
EMAIL_PORT=""
EMAIL_USE_TLS=False
EMAIL_HOST_USER=""
EMAIL_HOST_PASSWORD=""

# REDIS
REDIS_URL=""

# DATABASE
DATABASE_URL=""

# MPESA
MPESA_AUTHENTICATE_URL=""
MPESA_EXPRESS_URL_INITIATE=""
MPESA_EXPRESS_URL_QUERY=""
MPESA_CONSUMER_KEY=""
MPESA_CONSUMER_SECRET=""
MPESA_PASSKEY=""
MPESA_SHORTCODE="""

# GOOGLE
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""