# Environment
.env
.venv/

# Dev database
db.sqlite3

# Python
__pycache__
media/
staticfiles/
x.py

# Outputs
out.txt
testdata.md

# Logs
logs/

# Vscode
.vscode

# Celery specific
celerybeat-schedule
