# Environment
.env
.venv/

# Dev database
db.sqlite3

# Python cache
__pycache__
out.txt

testdata.md
*logs
local_settings.py
media/
staticfiles/
x.py

# Celery specific
celerybeat-schedule
.vscode
