asgiref==3.9.1
Django==5.2.6
django-cors-headers==4.7.0
django-extensions==4.1
django-phonenumber-field==8.1.0
django-redis==6.0.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-standardized-errors==0.15.0
hiredis==3.3.0
mypy==1.18.2
mypy_extensions==1.1.0
pathspec==0.12.1
phonenumberslite==9.0.13
PyJWT==2.10.1
python-dotenv==1.1.1
redis==7.1.0
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
