{% extends "emails/base.html" %}
{% block body %}
<p>Greetings <b>{{ recipient_name }}</b>,</p>

<p>
    A <b>Passowrd change request</b> on your account has been completed. Please be informed that you will be logged out of your current sessions
</p>

<p class="small">
    If you did not make this request, please click the link below to reset your password and secure your account.
</p>
<p style="text-align:center; margin:22px 0;">
    <a href="{{ token_url }}" class="button btn-primary">
        Recover my account
    </a>
</p>

<p class="small">
    If the button doest work, copy and paste this link into your browser:<br>
    <code>{{ token_url }}</code>
</p>
{% endblock %}