{% extends "emails/base.html" %}
{% block body %}
  <h1>Password reset request</h1>
  <p>Hello {{ user.get_full_name }},</p>

  <p>We received a request to reset your password. Click the button below to choose a new password. This link will expire in {{ expiry_hours }} hours.</p>

  <p style="text-align:center; margin:22px 0;">
    <a href="{{ url }}" class="button btn-primary" target="_blank" rel="noopener">Reset my password</a>
  </p>

  <p>If you didn't request a password reset, you can safely ignore this email. No changes will be made to your account.</p>
{% endblock %}
